/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
/* #endregion common */

/*#region Header*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .studio {
  color: #2e2f42;
}

.header-logo {
  margin-right: 76px;
}

.list-link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel,
.mail-tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.mail-tel:hover,
.mail-tel:focus {
  color: #404bbf;
}

.active-page {
  color: #404bbf;
}

.active-page::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
/* #endregion Header */

/*#region Hero Section*/
.main-section {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: block;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion Hero Section */

/* #region Features Section */
.features-section {
  padding: 120px 0;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-items {
  width: calc((100% - 3 * 24px) / 4);
}

.features-card {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  height: 112px;
}

.features-icon {
  fill: #2e2f42;
}

/* #endregion Features Section */

/* #region Team Section */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
}

.person-position {
  padding: 32px 0;
}

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.socila-list-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-links {
  width: 40px;
  height: 40px;
}

.social-links-img {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram-twitter-facebook-linkedin {
  fill: #f4f4fd;
}

.social-links-img:hover,
.social-links-img:focus {
  background-color: #404bbf;
}

/* #endregion Team Section */

/* #region Portfolio Section */
.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-box {
  background-color: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover,
.portfolio-box:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.proposal-solution {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.proposal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-on-card {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay-text {
  transform: translateY(0);
}

/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-section {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-description {
  margin-right: 120px;
}

.footer-studio,
.footer-description {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.socila-media {
  display: block;
}

.footer-social-links {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-media {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media:hover,
.footer-media:focus {
  background-color: #31d0aa;
}

/* #endregion Footer Section */
